<app-main-nav>
  <mat-grid-list class="home" cols="2" rowHeight="3:2">
    <mat-grid-tile>
      <div>
        <button mat-raised-button color="primary" (click)="openDialog()">
          Generate Key
        </button>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <form (ngSubmit)="login()">
        <table class="fullwidth" cellspacing="25">
          <tr>
            <td>
              <mat-form-field class="fullwidth">
                <input
                  matInput
                  type="text"
                  placeholder="Private Key"
                  name="privateKey"
                  [(ngModel)]="privateKey"
                />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <p>
                <button color="primary" value="submit" mat-raised-button>
                  Login
                </button>
              </p>
            </td>
          </tr>
        </table>
      </form>
    </mat-grid-tile>
  </mat-grid-list>
</app-main-nav>
