<app-main-nav [ContentType]="1">
  <div class="upload">
    <input
      #file
      style="display: none"
      type="file"
      accept="image/*"
      (change)="preview(file.files)"
    />

    <button mat-raised-button color="primary" (click)="file.click()">
      Select File
    </button>

    <div class="img-con">
      <img [src]="imgURL" *ngIf="imgURL" />
    </div>

    <button mat-raised-button color="primary" (click)="onUpload()">
      Upload!
    </button>
    <div class="hashList">
      <div class="hash" *ngFor="let hash of user.cidHash">
        <p>{{ hash }}</p>
        <div class="buttons">
          <a class="hashbutton" (click)="view(hash)">View</a>
          <a class="hashbutton" (click)="remove(hash)">Remove</a>
        </div>
      </div>
    </div>
    <!-- <div class="img-list-con">
      <div *ngFor="let img of user.images" class="img-list-item">
        <img [src]="img.imgUrl" />
        <div class="controls">
          Remove
        </div>
      </div>
    </div> -->
  </div>
</app-main-nav>
