.upload {
  margin: 5%;
  button {
    padding: 1%;
    margin: 1%;
  }
}
.img-con { 
    img {
        width: 100%;
        height: auto;
        max-width: 600px;
    }
}
.hashList{
  .buttons{
    display: none;
  .hashbutton{
      padding: 5px;
      border: 1px solid #fff;
      border-radius: 3px;
      font-size: 12px;
      line-height: 12px;
      transition: all 0.15s ease-in-out;
      cursor: pointer;
      &:hover{
        background: #ffffff;
        color: #000000;
      }
    }
  }
    &:hover{
      .buttons{
        display: block;
      }
    }
}

// .img-list-con{
//   display: flex;
//   min-width: 0;
//   flex-wrap: wrap;

//   .img-list-item{
//     flex: 0 0 25%;
//     height: 250px;
//     margin-bottom: 15px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     padding: 5px;
//     position: relative;
//     img{
//       width: 100%;
//       height: auto;
//     }
//     .controls{
//       position: absolute;
//       z-index: 5;
//       top: 50%;
//       left: 50%;
//       padding: 5px;
//       border: 1px solid #fff;
//       border-radius: 3px;
//       font-size: 12px;
//       line-height: 12px;
//       transform: translate(-50%, -50%);
//       display: none;
//       transition: all 0.25s ease-in-out;
//       cursor: pointer;
//       &:hover{
//         background: #ffffff;
//         color: #000000;
//       }
//     }

//     &:hover{
//       .controls{
//         display: block;
//       }
//     }

//   }
// }
      
